<head>
    <link rel= "stylesheet" type= "text/css" href= "/static/css/login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="https://img.icons8.com/dusk/64/000000/combo-chart.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action='/createAccount' method='POST'>
          <input type="text" id="newUsername" class="fadeIn second" name="newUsername" placeholder="username">
          <input type="password" id="newPassword" class="fadeIn third" name="newPassword" placeholder="**********">
	  <input type="text" id="newEmail" class="fadeIn third" name="newEmail" placeholder="user.name@example.com"/>
          <input type="submit" class="fadeIn fourth" value="Create Account">
        </form>

        <!-- Error Handling 
        {% if error %}
            <p id="loginError">{{ error }}</p>
        {% endif %}
	-->

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="">Forgot Password?</a>
	  <a class="underlineHover" href="/home">Have an account?</a>
        </div>

      </div>
    </div>
</body
